
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&display=swap');



body{
    font-family: Nunito, sans-serif;
    background: #eee;


}

.container{
    max-width: 750px;
    margin: auto;
    margin-top: 40px;
    
}

.avatar{
    width: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(63, 63, 63, 0.8);
}

.info{
   display: flex;
}

.info_text{
    margin: 20px 20px 20px 40px;
}

.info_text h3{
    margin: 20px 0;
}

.links a{
    text-decoration: none;
     font-weight: bold;
     color: rgba(21, 126, 167, 0.685);
}

.links a:hover{
color: coral;
}

.list{
    background: #fffacd;
    border-radius: 15px;
    padding: 15px 15px;
    margin-top: 30px;
}

.li ol{
    padding-right: 20px;
}

.li li{
    border-bottom: 1px solid #333;
    padding: 5px 5px;
}

.tbody table{
width: 100%;
}

.table{
    background: #e0ffff;
    border-radius: 15px;
    padding: 15px 15px 25px 15px;
    margin-top: 20px;
}

.tbody th, td{
    border-bottom: 1px solid #333;
    text-align: center;
    padding: 10px 30px
    
    
}

.tbody th{
    background: #baecec;
}

.tbody td:hover{
   background: #60a1a1
}

.form h2{
    text-align: center;
    margin-top: 50px
}

.form-group input, textarea{
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    font-family: inherit;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #333;
    margin-bottom: 40px;
}

.form-row .form-group{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 45px;
    width: 45%;
}

.form-group:last-child{
    margin-right: 0;
}

.btn{
    box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.8);
    font-family: inherit;
    font-size: 15px;
    background: #444343;
    border: none;
    width: 130px;
    color: #ffffff;
    cursor: pointer;
    padding: 20px
    
}

.btn:hover{
    opacity: 0.8;
}

.form{
    padding-bottom: 50px;
}


@media(max-width:615px){
    .info{
        display: block;
        text-align: center;
    }

    .form-row .form-group{
        width: 100%;
        padding-right: 10px;
    }

    .tbody{
        font-size: 14px;
    }


}